*{
    margin: 0;
    padding: 0;
}
.titre1{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
body{
    background-image: url(cine\ y\ video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    background-color: rgba(35, 110, 186, 0.717);
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.group{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}
.sanaa{
    margin-right: -10px;
}
.formulaire{
display: flex;
flex-direction: column;
}
.input{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 10px;
    margin-top: 10px ;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    height: 30px;
    
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: rgb(38, 153, 113);
    width: 30%;
    height: 50px;

}
label{
    font-size: x-large;
}
#img{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
}
